html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* My code */

$white: rgba(248, 248, 248, 1);
$lightBlue: rgba(135, 206, 235, 1);
$darkBlue: rgb(70, 130, 180);
$transition: all 0.3s;


* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  /*background-image: linear-gradient(to right, $lightBlue, $darkBlue);*/
  background: $lightBlue;
  height: 100px;
  justify-content: start;
  align-items: center;
  display: flex;
  box-shadow: 0 4px 4px -4px black inset;

  h1 {
    margin-left: 20px;
    font-size: 48px;
    font-family: 'Gloria Hallelujah', cursive;
    color: $darkBlue;
    font-weight: bold;
  }
}

button {
  background: $lightBlue;
  color: $white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  height: 30px;
}

input {
  height: 30px;
}

input,
textarea {
  border-radius: 4px;
  background: white;
  outline: none;
  border: none;

  &:focus {
    box-shadow: 0 0 2px 2px $lightBlue inset;
  }
}

h2 {
  text-align: center;
  font-size: 22px;
  margin: 20px 0;
  font-weight: bold;
}

#content {
  position: relative;
  display: grid;
  grid-template-columns: 400px auto 400px;
  min-height: calc(100vh - 100px);
  width: 100%;

  h4 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .todo-form {
    margin-bottom: 20px;
  
    >div {
      margin-bottom: 20px;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    [name="title"] {
      padding: 0 10px;
    }
  
    [name="description"] {
      padding: 10px;
      resize: none;
    }
  
    [name="title"],
    [name="description"] {
      width: 100%;
    }
  }

  #projects {
    display: block;
    background: $darkBlue;
    height: 100%;
    color: $white;
    font-weight: bold;

    #add-project {
      padding: 0 20px 20px 20px;
      border-bottom: 1px solid $lightBlue;
      
      form {
        display: flex;
        height: 30px;
  
        input {
          flex: 1;
          margin-right: 5px;
          outline: none;
          border: none;
          padding: 0 10px;
          font-weight: bold;
        }
      }

    }

    #project-list {
      .project {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        padding: 20px 20px 20px 0;
        border-bottom: 1px solid $lightBlue;
        background: $darkBlue;
        font-size: 18px;
        cursor: pointer;
        transition: $transition;
        box-shadow: none;

        &:hover {
          box-shadow: 0 2px 2px $white inset, 0 -2px 2px $white inset;
        }

        &.active {
          color: $darkBlue;
          background: $lightBlue;
          box-shadow: 0 2px 2px $white inset, 0 -2px 2px $white inset;
        }

        .del-project-btn {
          color: rgba(148, 148, 148, 0);
          transition: $transition;
        }

        &:hover .del-project-btn {
          color: $white;
        }

        h3 {
          margin-left: 20px;
        }
      }
    }
  }

  #todos {
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.5), inset 7px 0 9px -7px rgba(0,0,0,0.5), inset -7px 0 9px -7px rgba(0,0,0,0.5);

    #todo-list {
      margin: 40px 40px 0;
      text-align: center;

      .todo {
        position: relative;
        text-align: initial;
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $lightBlue;
        border-radius: 4px;
        padding: 15px;
        cursor: pointer;
        box-shadow: none;
        transition: $transition;
        margin-bottom: 10px;

        &.fade {
          border: 1px solid rgba(0, 0, 0, 0);

          * {
            color: rgba(0, 0, 0, 0);
          }
        }

        &.completed {
          background: $lightBlue;

          .checkmark {
            color: $white;
          }
        }

        &.active,
        &:hover {
          box-shadow: 2px 2px 3px $lightBlue inset, -2px -2px 3px $lightBlue inset;
        }

        p {
          margin-top: 10px;

          em {
            font-style: italic;
          }
        }

        input {
          width: 30px;
          cursor: pointer;
        }

        .del-todo-btn {
          position: absolute;
          color: rgba(0, 0, 0, 0);
          right: 6px;
          top: 3px;
          transition: $transition;
        }

        &:hover .del-todo-btn {
          color: rgba(50, 50, 50, 1);
        }

        .checkmark {
          margin-right: 20px;
          font-size: 35px;
          color: $lightBlue;
        }

        .fa-caret-up,
        .fa-caret-down {
          position: absolute;
          left: -25px;
          color: rgba(0, 0, 0, 0);
          transition: $transition;
          font-size: 25px;
        }

        .fa-caret-up {
          top: 10px;
        }

        .fa-caret-down {
          bottom: 10px;
        }

        &:hover .fa-caret-up,
        &:hover .fa-caret-down {
          color: $lightBlue;
        }
      }

      #default {
        display: inline-block;
        background: $white;
        border-radius: 4px;
        margin-top: 150px;
        padding: 20px 40px;
        font-size: 28px;
        text-align: center;
        line-height: 2;
      }
    }
  }

  #add {
    background: $white;
    padding: 0 20px 20px 20px;
  }

  #details {
    position: absolute;
    height: 100%;
    width: 0;
    right: 0;
    background: $white;
    transition: $transition;
    overflow: hidden;

    &.overlay {
      width: 400px;
      box-shadow: 0 0 4px black;
      padding: 0 20px 20px 20px;
      border-radius: 8px 0 0;
    }

    #close-details-btn {
      position: absolute;
      left: 20px;
      top: 20px;
      color: $lightBlue;
      font-size: 25px;
      cursor: pointer;
    }

    #details-list {
      margin-top: 40px;
      >div {
        margin-bottom: 20px;
        width: 380px;

        h5 {
          font-weight: bold;
          margin-bottom: 5px;
        }

        p {
          overflow-wrap: break-word;
          line-height: 1.5;
        }
      }
    }
  }
}

#overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);

  &.open {
    visibility: visible;
  }

  &.open #popup {
    height: 180px;
    box-shadow: 0 -2px 4px $lightBlue;
  }

  #popup {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: white;
    height: 0;
    transition: all 0.3s;
  
    h2 {
      margin-top: 30px;
    }

    button {
      margin: 30px 15px;
  
      &#delete-no {
        background: rgb(180, 92, 70);
      }
  
      &#delete-yes {
        background: $darkBlue;
      }
    }
  }
}
